*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Lato', sans-serif;
/*    font-family: 'Roboto', sans-serif;*/
    color: #291f1a;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

#main-nav
{
    position: fixed;
    background-color: #ffffff;
    text-align: right;
    width: 100%;
}

#main-nav li
{
    list-style: none;
    display: inline-block;
}

#main-nav a 
{
    color: #1ac056;
    font-weight: 300;
    text-decoration: none;
}

#main-nav>ul>li>a:hover{
    color: brown;
}

#main-header
{
    background-image: url(../img/header-background.jpg);
    height: 600px;
}