body
{
    font-family: 'Lato', sans-serif;
/*    font-family: 'Roboto', sans-serif;*/
    background-color: aqua;
    color: #291f1a;
    font-weight: 300;
}

#main-nav
{
    display: inline-block;
    position: fixed;
    background-color: #ffffff;
    text-align: right;
    width: 100%;
}

#main-nav li
{
    list-style: none;
}

#main-nav a 
{
    color: #1ac056;
    font-weight: 300;
    text-decoration: none;
}

#main-nav>ul>li>a:hover{
    color: brown;
}